* {
    margin: 0;
    padding: 0;
}

#headerr {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    position: fixed;
    align-items: center;
}

.darkk {
    background-color: rgba(0, 0, 0, 0.92);
}

.lightt {
    background-color: rgba(255, 255, 255, .93);
}

body {
    /* font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300; */
    background-color: #c297ff;
    color: white;
    font-size: 16px;
}

nav {
    height: 100%;
    display: flex;
    width: 80%;
    float: right;
    margin-left: 13%;
}

.ul1 {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

nav ul li {
    list-style: none;
    width: 150px;
    height: 40px;
    background-color: #C70039;
    position: relative;
    float: left;
    user-select: none;
    align-content: center;
}

.rightli::after {
    content: "";
    background-color: #C70039;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: -35px;
    border-top-right-radius: 75%;
}

.leftli::before {
    width: 40px;
    height: 40px;
    background-color: #C70039;
    position: absolute;
    content: "";
    border-bottom-left-radius: 75%;
    top: 0;
    left: -35px
}

nav ul li ul li:hover {
    background-color: #E45981;
    /* E93468 */
    transition: .2s;
    transform: translateX(10px);
}

a {
    text-decoration: none;
    color: white;
}

nav ul li ul {
    position: absolute;
    left: 0px;
    margin-top: 30px;
    display: none;
}

nav ul li ul li {
    list-style: none;
    width: 150px;
    height: 60px;
    border-top: rgba(0, 0, 0, 0.103) 1px solid;
    background-color: #E93468;
    /* E45981 */
    z-index: 51;
    border-radius: 5px;
    align-content: center;
    position: relative;
    box-shadow: 5px 5px 10px 5px #4e4e4e5a;
}

nav ul li:hover > ul {
    display: initial;
    transition: all 0.4s linear;
}

nav ul li ul li:hover {
    font-size: 15px;
    transition: .3s;
}

.ul2 {
    margin-top: 19px;
}

.div {
    margin-top: 100px;
    position: absolute;
    background-color: green;
    width: 100%;
    height: 600px;
    border-top-left-radius: 20%;
}

.wrapper-for-img {
    width: 100%;
    margin-top: 15px;
    position: absolute;
    background-image: url(./img/fon.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(245, 221, 0);
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    
}

span {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
    margin-top: 350px;
    position: absolute;
    width: 100%;
    padding: 20px 0;
    background-color: black;
    font-size: 2em;
    display: flexbox;
    align-content: center;
}

.footer p {
    text-align: center;
}

.toppp {
    margin-top: 40px;
}

.footer span {
    font-size: .65em;
    text-decoration: underline;
    color: #0044ff
}

.nameto {
    font-size: 2em;
    text-align: right;
    margin-bottom: 20px;
}

.nachalo {
    width: 75%;
    text-align: right;
    margin-left: 25%;
    margin-bottom: 20px;
}

.newglava {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

#glava {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.textp {
    width: 90%;
    margin-left: 5%;
    line-height: normal;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

/* .textp::before {
    content: " ● ";  
    color: black 
} */

                        /* About */

.wrapper-cards {
    display: flex;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    flex-wrap: wrap;
    margin-top: 3%;
    width: 95%;
}

.left {
    width: 70%;
    margin-left: 30%;
    text-align: left;       
}

.card-imgs {
    width: 75px;
}

.cards {
    flex-grow: 1;
    padding: 2.5px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.cards h3 {
    font-size: 22px;
    margin-bottom: 3px;
}

.cards span {
    font-size: 12px;
}


.aboutmain {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 45%);
    align-content: center;
}

.leftpartmain {
    width: 45%;
    /* height: 200px; */
    font-size: 46px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rightpartmain {
    width: 30%;
    height: 200px;
    margin-top: 30px;
}

.rightpartmain img {
    width: 80%;
}


                /* Uroki francuzskogo */

:root {
    --text-color: hsla(210, 50%, 85%, 1);
    --shadow-color: hsla(210, 40%, 52%, .4);
    --btn-color: hsl(210, 80%, 42%);
    --bg-color: #141218;
}

.cv {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 110px;
    display: flex;
    overflow-x: scroll;
}

.cv::-webkit-scrollbar {
    width: 0;
    background-color: rgba(255, 255, 255, 0);
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

:root {
    --text-color: hsla(210, 50%, 85%, 1);
    --shadow-color: hsla(210, 40%, 52%, .4);
    --btn-color: hsl(210, 80%, 42%);
    --bg-color: #141218;
}

.cv button {    
    height: 75%;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    padding: 10px;  
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;  
    color: var(--text-color);
    background-color: var(--btn-color);
    box-shadow: var(--shadow-color) 2px 2px 22px;
    border-radius: 4px; 
    z-index: 0;  
    overflow: hidden;   
}

.cv button:focus {
    outline-color: transparent;
    box-shadow: var(--btn-color) 2px 2px 22px;
}

.rright::after, .cv button::after {
    content: var(--content);
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px 40px;
    pointer-events:none;
}

.cv button::after{
    font-weight: 200;
    top: -30px;
    left: -20px;
} 

.rright, .lleft {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.rright {
    left: 66%;
}
.lleft {
    right: 66%;
}
.rright::after {
    top: -30px;
    left: calc(-66% - 20px);
    
    background-color: var(--bg-color);
    color:transparent;
    transition: transform .4s ease-out;
    transform: translate(0, -90%) rotate(0deg)
}

.cv button:hover .rright::after {
    transform: translate(0, -47%) rotate(0deg)
}

.cv button .rright:hover::after {
    transform: translate(0, -50%) rotate(-7deg)
}

.cv button .lleft:hover ~ .rright::after {
    transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
.cv button::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
    from {
    transform: translate();
    }
    to {
    transform: translate(0, -66.666%);
    }
}

.hidden {
    display: none
}



.aboutmain1 {
    margin-top: 50px;
    width: 95%;
    color: black;
    border-radius: 10px;
    margin-left: 2.5%;
}

h1:not(.song h1){
    text-align: center;
    color: #fe723a;
    background-color: rebeccapurple;
    padding: 5px 0;
}

.rightpart h2 div {
    margin: 0 auto;
    font-size: 1.7em;
    color: #FFA07A;
    box-shadow: var(--btn-color) 2px 2px 22px;   
}

.leftpart {
    width: auto;
    float: left; 
}

.rightpart {
    flex-grow: 1;
    float: right;
    max-width: 50%; 
}

.img1 {
    height: 450px;
    margin: 20px;
}

.wrapper-parts {
    display: flex;
    padding: 15px;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.rightpart h2 {
    text-align: center;
}

.rightpart hr {
    margin-top: 25px;
    margin-bottom: 30px;
}

.rightpart span {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.rightpart span::before {
    content: " * ";
    color: green;
}

.rightpart span p {
    font-weight: 700;
}



.read {
    max-width: 93%;
    padding: 10px;
    margin-top: 50px;
    border-radius: 15px;
    z-index: 10;
    margin-left: 2.25%;
}

.read .text {
    font-size: 1.5em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    word-spacing: .15em;
    line-break: 2em;
}

.dark {
    color: white;
}

.light {
    color: #333333;
}

.hr1 {
    width: 75%;
    margin: 35px 0;
    margin-left: 12.5%;
}

.navstr {
    width: 98.5%;
    min-height: 100px;
    background-color: #cccaca;
    border-radius: 25px;
    margin-bottom: 20px;
    display: flex;
    color: #006994;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.button-numbers {
    background-color: #a3a2a2;
    border-radius: 10px;
    min-width: 40px;
    max-width: 80px;
    height: 40px;
    border: 0;
    cursor: pointer;
    flex-grow: 1;
    margin-left: 15px;
}

.numbers {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-content: center;
    font-size: 1.5em;
}

.wrapper-buttons {
    width: 60px;
    height: 40px;
    background-color: violet;
    position: absolute;
    margin-left: 15px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    border: white 3px solid;
}

.buttons {
    height: 100%;
    width: 50%;
    border-style: none;
}

.buttons:hover {
    cursor: alias;
}

.buttona {
    border-right: #141218 1px solid;
    background-color: yellow;
}

.buttonb {
    background-color: black;
    color: white
}

#str1 {
    display: none;
}

#str2 {
    display: none;
}

#str3 {
    display: none;
}

#str4 {
    display: none;
}

#str5 {
    display: none;
}

#str6 {
    display: none;
}

#str7 {
    display: none;
}

#str8 {
    display: none;
}

#str9, #str10, #str11, #str12 {
    display: none;
}

.burger {
    display: flex;
    position: absolute;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 20px;
    float: right;
    right: 1%;
    margin-top: 7px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background: linear-gradient(135deg, #33ccff, #ff99cc, #ffcc66);
    animation: animate 2s linear infinite;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(135deg, #33ccff, #ff99cc, #ffcc66);
    transition: all 0.3s ease;
    animation: animate 2s linear infinite; 
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%)
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.open {
    display: flex !important;
}

.up {
    width: 50px;
    height: 50px;
    background-color: white;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    color: #ff00ee;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 9999;
    border-style: none;
}

@media screen and (max-width: 700px){
    .nachalo {
        font-size: .7em;
    }
    .leftpartmain {
        font-size: 25px;
    }
    .textp {
        font-size: .65em;
    }
    nav {
        display: none;
    }
    /* .navstr {
        display: initial;
    } */
    .burger {
        display: flex;
    }
    nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 30px;
        background-color: black;
        margin: 0;
        animation: burgerAnim .4s;
    }
    .ul1 {
        margin: 0;
    }
    nav ul li:not(ul li ul li) {
        float: unset;
        margin-bottom: 15px;
    }

    nav ul li ul {
        left: 150px;
        margin-top: 385px;
    }

    nav ul li {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .ul2 {
        margin-top: 385px;
    }

    .menu {
        width: 100%;
        height: 65px;
        background-color: white;
        float: inline-end;
        position: fixed;
        bottom: 0px;
        align-content: center;
        display: block;
        color: black;
    }
    .menu .home {
        width: 50%;
        height: 100%;
        margin-left: 25%;
        justify-content: center;
        /* background-color: rebeccapurple; */
    }
    .home img {
        height: 90%;
        margin-top: 2px;
    }
    .circlee {
        z-index: 999;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #ff0000;
        color: #ff00ee;
        cursor: pointer;
        box-shadow: 0 5px 12px rgba(255, 26, 26, 0.22);
    }
    .rightpart {
        max-width: initial;
    }
    .kratko .textp {
        font-size: 13px;
    }
}

@media screen and (min-width: 701px) and (max-width: 1150px){
    body {
        display: none;
    }
}

@keyframes burgerAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }
}


            /* Songs */


.wrapper-songs {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin-left: 2.5%;
}

.song {
    padding: 1%;
    text-align: center;
    background: #ff7af6;
    border-radius: 20px;
    margin: 5px;
    flex-grow: 1;
    flex-basis: 200;
    max-width: 47%;
}

.navsong {
    display: flex;
    justify-content: space-between;
}

.song img {
    width: 40%;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #ff00ee;
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(255, 26, 26, 0.22);
}

.song h1 {
    font-size: 25px;
    font-size: 400;
    color: #333;
    margin-top: 15px;
}

.song p {
    font-size: 18px;
    color: #333;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: #ff1df0;
    cursor: pointer;
    margin: 25px 0;
    border-radius: 10%;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ff1df0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    margin: 10px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ff00ee;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    color: #fff;
    background: #ff00ee;
    cursor: pointer
}

.container-video {
    margin-top: 2%;
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    background: #ac71ff;
    align-content: center;
}

.container-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block; /* Это нужно для того, чтобы margin: 0 auto; сработал */
    margin: 0 auto; /* Центрирование по горизонтали */
}

@media screen and (min-width: 768px) {
    .container-video iframe {
        height: 70%;
        width: 75%;
        left: 12.5%;
        top: 10%;   
    }
    .container-video {
        border-radius: 5%;
    }
}

.kratko {
    width: 95%;
    margin-left: 1.2%;
    min-height: 1px;
    padding: 10px 3px;
    border-radius: 10px;
}

.kratko h2 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-left: 5px;
}

.textp span:not(span.bg ){
    background: rgba(118, 127, 255, 0.55);
    padding: 3px;
    border-radius: 10px;
    margin-bottom: auto;
}

.kratko h2::before {
    content: " * ";
    color: green;
}

.bg {
    background: rgba(0, 145, 193, 0.65);
    padding: 3px;
    border-radius: 10px;
    line-height: 20px;
}

.itog {
    background: #dd8d25da;
    padding: 10px;
    border-radius: 25px;
    max-width: 75%;
    margin: 0 auto;
}

.itog h3 {
    font-size: 1.65em;
    text-align: center;
    padding: 10px 0;
}

.dialog {
    width: 65%;
    margin: 0 auto;
    background: rgba(118, 127, 255, 0.55);
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Фигня */

.time {
    width: 95%;
    margin: 0 auto;
    height: 300px;
    background-color: #006994;
    border-radius: 20px;
    flex-direction: column;
    padding: 1px;
    align-content: center;
}

.times {
    background: #000;
}

.times button {
    border: 0;
    border-radius: 20px;
    padding: 20px;
    display: block;
}

.bef-su:before {
    content: "СЮЖЕТ";
    color: white;
    background-color: red;
    padding: 2.5px;
    border-radius: 5px;
    font-weight: bold;
}

/* Новый код */